<!-- <div class="add-button">
    <mat-icon aria-hidden="false" aria-label="Add new country" fontIcon="add_circle" (click)="openDialog()" style="cursor: pointer;"></mat-icon>
</div> -->

<div class="meals">
    <table mat-table [dataSource]="meals" class="mat-elevation-z8">
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let mealTracker"> {{mealTracker.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let mealTracker"> {{mealTracker.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="calories/100">
          <th mat-header-cell *matHeaderCellDef> Calories/100gr </th>
          <td mat-cell *matCellDef="let mealTracker"> {{mealTracker.caloriePer100gr}} </td>
        </ng-container>
      
        <ng-container matColumnDef="protein/100">
          <th mat-header-cell *matHeaderCellDef> Protein/100gr </th>
          <td mat-cell *matCellDef="let mealTracker"> {{mealTracker.proteinPer100gr}} </td>
        </ng-container>
        
        <ng-container matColumnDef="carbs/100">
            <th mat-header-cell *matHeaderCellDef> Carbs/100gr </th>
            <td mat-cell *matCellDef="let mealTracker"> {{mealTracker.carbohydratePer100gr}} </td>
          </ng-container>

          <ng-container matColumnDef="fats/100">
            <th mat-header-cell *matHeaderCellDef> Fats/100gr </th>
            <td mat-cell *matCellDef="let mealTracker"> {{mealTracker.fatsPer100gr}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let mealTracker">
                <button mat-raised-button color="primary" (click)="edit()">Edit</button>
                <button mat-raised-button color="warn" (click)="delete()">Delete</button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      


</div>
<div class="calculate">
    <button (click)="calculateUpdetedMeals()">Calculate Per Quantity Consumed</button>
</div>
<div class="updatedMeals">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cal</th>
                <th>Proteins</th>
                <th>Carbs</th>
                <th>Fats</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let updateMeal of updatedMeals">
                <td>{{ updateMeal.mealID }}</td>
                <td>{{ updateMeal.totalCaloriesConsumed }}</td>
                <td>{{ updateMeal.totalProteinConsumed }}</td>
                <td>{{ updateMeal.totalCarbohydrateConsumed }}</td>
                <td>{{ updateMeal.totalFatsConsumed }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="totals">
    <table>
        <thead>
            <tr>
                <th>Total Cal</th>
                <th>Total Proteins</th>
                <th>Total Carbs</th>
                <th>Total Fats</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let total of totalsConsuemd">
                <td>{{ total.totalCaloriesConsumed }}</td>
                <td>{{ total.totalProteinConsumed }}</td>
                <td>{{ total.totalCarbohydrateConsumed }}</td>
                <td>{{ total.totalFatsConsumed }}</td>
            </tr>
        </tbody>
    </table>
</div>


